Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pywaffle import Waffle

Import csv

In [2]:
df = pd.read_csv('/Users/dcoder/Desktop/school/csc630/AGAA_ObjectData.csv', encoding='latin-1')
pd.set_option('display.max_colwidth', -1)

/var/folders/g5/23p3mnps53z390h7dn3lf9tm0000gn/T/ipykernel_63613/646566460.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

Data Exploration

In [3]:
df.columns

Index(['Accession Number', 'Artist - Sort Name', 'Full Title',
       'Portfolio (Series) Title', 'Creation Date', 'Height', 'Width', 'Depth',
       'Media & Support', 'Credit Line', 'Class Type'],
      dtype='object')

In [4]:
df['Class Type'].unique()

array(['G: Photography', 'B: Sculpture', 'E: Work on Paper', 'F: Prints',
       'D: Decorative Arts', 'A: Painting', 'H: Ship Models', 'X: Misc',
       nan], dtype=object)

In [5]:
df[df['Class Type']=='G: Photography'].count()[0]

8533

In [6]:
number_types = []
for class_type in df['Class Type'].unique():
  number_types.append(df[df['Class Type']==class_type].count()[0])
print(number_types)
data ={
        'types': df['Class Type'].unique(),
        'number_types': number_types
     }
  
new_df = pd.DataFrame(data)

[8533, 408, 2807, 5029, 359, 823, 24, 16, 0]

In [7]:
df['Credit Line'].unique()

array(['purchased with funds from an anonymous donor and Andrea Feldman (PA 1983)',
       'gift of the artists', 'museum purchase', ...,
       'gift of anonymous donor in memory of Beth Lisa Feldman',
       'gift of Richard D. Segal', 'gift of Mr. and Mrs. Stuart P. Feld '],
      dtype=object)

In [8]:
total_gifts = 0
all_gifts = []
for x in df['Credit Line'].unique():
    if "gift of" in str(x):
        if "anonymous" not in str(x):
            if "gift of the artist" not in str(x):
                if "Foundation" not in str(x):
                    if "Fund" not in str(x):
                        if "purchase" not in str(x):
                            total_gifts += 1
                            all_gifts.append(str(x))
print(total_gifts)

802

In [9]:
all_gifts[:10]

['gift of Robert Feldman (PA 1954) in memory of Beth Lisa Feldman',
 'gift of Linda Feldman in memory of Beth Lisa Feldman',
 'pruchased as the gift of Sam Petok',
 'gift of Harry Shapiro',
 'gift of Paul Stephens',
 'gift of Robert Schussel',
 "gift of Georgia O'Keeffe and Elizabeth Davidson",
 'gift of Betty and Sidney Feldman',
 'gift of Peter Halley (PA 1971), Addison Art Drive',
 'gift of Robert A. Feldman (PA 1954) in memory of Beth Lisa Feldman']

In [10]:
number_gift_types = []
for gift_type in all_gifts:
  number_gift_types.append(df[df['Credit Line']==gift_type].count()[0])
print(number_gift_types)

[72, 15, 1, 38, 57, 1, 284, 15, 1, 13, 11, 4, 2, 5, 26, 1, 1, 17, 1, 8, 2, 1, 77, 30, 15, 30, 1, 7, 5, 4, 2, 1, 250, 26, 2, 12, 4, 5, 24, 126, 55, 10, 1, 1, 30, 5, 1, 1, 1, 10, 4, 1, 1, 1, 1, 1, 1, 28, 5, 1, 15, 1, 10, 1, 3, 1, 2, 1, 10, 1, 1, 1, 11, 6, 4, 1, 9, 1, 1, 1, 34, 12, 2, 278, 9, 2, 1, 1, 1, 12, 1, 1, 9, 2, 1, 1, 1, 1, 1, 1, 1, 152, 6, 2, 25, 1, 2, 4, 8, 2, 6, 26, 2, 1, 1, 1, 101, 49, 1, 1, 4, 34, 4, 9, 4, 6, 1, 7, 22, 1, 1, 3, 5, 13, 21, 1, 6, 1, 92, 1, 1, 8, 5, 7, 18, 5, 1, 13, 1, 1, 137, 1, 1, 1, 1, 2, 4, 1, 1, 1, 134, 6, 10, 1, 5, 1, 1, 1, 19, 1, 1, 1, 6, 4, 1, 10, 1, 1, 1, 1, 3, 22, 2, 9, 1, 1, 1, 1, 2, 2, 3, 2, 7, 1, 2, 1, 1, 3, 1, 1, 9, 1, 5, 2, 5, 8, 1, 18, 12, 22, 1, 1, 1, 3, 6, 4, 17, 2, 1, 12, 1, 1, 10, 4, 65, 1, 5, 1, 2, 2, 1, 21, 3, 1, 13, 10, 17, 1, 1, 1, 45, 1, 10, 1, 22, 9, 1, 1, 1, 1, 1, 1, 55, 1, 1, 2, 1, 11, 9, 1, 1, 3, 2, 1, 1, 21, 7, 118, 1, 1, 5, 1, 1, 1, 6, 3, 1, 1, 5, 1, 2, 1, 1, 2, 8, 4, 28, 1, 42, 1, 1, 1, 1, 1, 1, 14, 4, 5, 1, 19, 6, 1, 1, 1, 1, 21, 1, 2, 1, 16, 1, 1, 7, 3, 98, 6, 2, 30, 2, 3, 3, 1, 3, 2, 36, 1, 1, 8, 28, 1, 1, 3, 48, 1, 1, 40, 60, 55, 1, 2, 1, 3, 1, 1, 1, 2, 1, 1, 1, 5, 2, 25, 1, 2, 5, 1, 5, 1, 2, 1, 2, 2, 3, 1, 1, 4, 3, 2, 1, 1, 1, 5, 51, 1, 1, 1, 1, 1, 1, 4, 11, 1, 1, 1, 1, 1, 128, 71, 76, 1, 1, 1, 1, 2, 2, 1, 8, 2, 1, 1, 1, 1, 20, 1, 2, 1, 1, 1, 31, 1, 1, 9, 1, 3, 2, 2, 1, 2, 13, 1, 2, 8, 7, 9, 1, 1, 1, 10, 1, 1, 4, 2, 2, 1, 9, 6, 1, 25, 1, 1, 1, 40, 3, 32, 1, 1, 1, 1, 8, 1, 1, 1, 1, 1, 5, 1, 10, 1, 6, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 3, 160, 1, 2, 1, 4, 1, 14, 15, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 6, 1, 3, 12, 4, 1, 40, 2, 3, 9, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 33, 1, 1, 1, 1, 3, 1, 10, 2, 1, 1, 3, 14, 1, 2, 1, 3, 2, 31, 1, 1, 1, 4, 1, 1, 1, 1, 1, 2, 3, 19, 1, 1, 1, 4, 1, 1, 16, 1, 1, 1, 1, 2, 1, 17, 1, 1, 1, 1, 1, 1, 5, 780, 1, 1, 1, 1, 1, 14, 1, 1, 1, 1, 4, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 9, 1, 1, 1, 1, 1, 3, 2, 1, 2, 1, 1, 1, 1, 62, 1, 1, 5, 1, 1, 2, 1, 1, 3, 1, 13, 14, 2, 1, 1, 2, 1, 1, 1, 1, 4, 1, 2, 1, 1, 1, 4, 7, 2, 1, 1, 1, 1, 1, 2, 1, 1, 8, 5, 1, 1, 1, 1, 9, 1, 1, 1, 1, 13, 1, 1, 1, 2, 23, 1, 1, 3, 1, 14, 1, 1, 1, 1, 1, 1, 16, 2, 1, 1, 6, 2, 1, 1, 2, 1, 1, 2, 1, 4, 2, 51, 2, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 2, 1, 4, 164, 39, 27, 17, 1, 24, 1, 1, 8, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 1, 5, 1, 1, 1, 1, 1, 1, 1, 3, 13, 1, 1, 1, 1, 51, 1, 1, 1, 1, 3, 10, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 11, 1, 1, 1, 5, 86, 3, 1, 1, 1, 1, 2, 1, 9, 1, 2, 1, 13, 1, 1, 4, 1]

In [11]:
gifts = {
    'type': all_gifts,
    'number': number_gift_types
}
gift_df = pd.DataFrame(gifts)

In [12]:
import re
person = []
number = []
for x in sorted(number_gift_types)[-10:]:
    person.append(str(gift_df[gift_df['number']==x]['type'])[:-26])
    number.append(int(gift_df[gift_df['number']==x]['number'])    )

In [13]:
top_donors = {
    'person': person,
    'number': number
}
top_donors = pd.DataFrame(top_donors)

In [14]:
top_donors

,person,number
0,386 gift of Donald Holden,128
1,160 gift of Andrea Feldman (PA 1983),134
2,150 gift of Claudia and Steven Schwartz (PA 1977),137
3,101 gift of Edward O'Neil,152
4,"484 gift of H.J. Koehler, Grandson of P. Koehler",160
5,726 gift of E.T. Meredith III,164
6,32 gift of Adam D. Weinberg in honor of Allison Kemmerer,250
7,"83 gift of Katherine D. and Stephen C. Sherrill (PA 1971, and P 2005, 2007, 2010)",278
8,6 gift of Georgia O'Keeffe and Elizabeth Davidson,284
9,588 gift of the Edwin J. Beinecke Trust,780

In [15]:
for x in df['Credit Line'].unique():
    df[x] = 0

/var/folders/g5/23p3mnps53z390h7dn3lf9tm0000gn/T/ipykernel_63613/220956503.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = 0

In [16]:
top_donors['person'] = top_donors['person'].apply(lambda x: re.sub("(.*) gift of", "gift of", x))

In [17]:
top_donors

,person,number
0,gift of Donald Holden,128
1,gift of Andrea Feldman (PA 1983),134
2,gift of Claudia and Steven Schwartz (PA 1977),137
3,gift of Edward O'Neil,152
4,"gift of H.J. Koehler, Grandson of P. Koehler",160
5,gift of E.T. Meredith III,164
6,gift of Adam D. Weinberg in honor of Allison Kemmerer,250
7,"gift of Katherine D. and Stephen C. Sherrill (PA 1971, and P 2005, 2007, 2010)",278
8,gift of Georgia O'Keeffe and Elizabeth Davidson,284
9,gift of the Edwin J. Beinecke Trust,780

In [18]:
for x in df['Class Type'].unique():
    top_donors[str(x)] = 0

In [19]:
top_donors

,person,number,G: Photography,B: Sculpture,E: Work on Paper,F: Prints,D: Decorative Arts,A: Painting,H: Ship Models,X: Misc,nan
0,gift of Donald Holden,128,0,0,0,0,0,0,0,0,0
1,gift of Andrea Feldman (PA 1983),134,0,0,0,0,0,0,0,0,0
2,gift of Claudia and Steven Schwartz (PA 1977),137,0,0,0,0,0,0,0,0,0
3,gift of Edward O'Neil,152,0,0,0,0,0,0,0,0,0
4,"gift of H.J. Koehler, Grandson of P. Koehler",160,0,0,0,0,0,0,0,0,0
5,gift of E.T. Meredith III,164,0,0,0,0,0,0,0,0,0
6,gift of Adam D. Weinberg in honor of Allison Kemmerer,250,0,0,0,0,0,0,0,0,0
7,"gift of Katherine D. and Stephen C. Sherrill (PA 1971, and P 2005, 2007, 2010)",278,0,0,0,0,0,0,0,0,0
8,gift of Georgia O'Keeffe and Elizabeth Davidson,284,0,0,0,0,0,0,0,0,0
9,gift of the Edwin J. Beinecke Trust,780,0,0,0,0,0,0,0,0,0

In [20]:
def donor_gift_type(donor):
    list_gifts = []
    for row in df.iterrows():
        if row[1]['Credit Line'] == donor:
            list_gifts.append(row[1]['Class Type'])
    return list_gifts

def count_type(list_gifts, gift_type):
    num = 0
    for x in list_gifts:
        if gift_type == x:
           num += 1
    return num

In [21]:
for each in top_donors['person']:
    temp = donor_gift_type(each)
    print(each)
    for type_gift in df['Class Type'].unique():
        print(type_gift,': ', str(int(count_type(temp, type_gift))))
    print('------------------------------------------------')

gift of Donald Holden
G: Photography :  128
B: Sculpture :  0
E: Work on Paper :  0
F: Prints :  0
D: Decorative Arts :  0
A: Painting :  0
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------
gift of Andrea Feldman (PA 1983)
G: Photography :  4
B: Sculpture :  0
E: Work on Paper :  0
F: Prints :  130
D: Decorative Arts :  0
A: Painting :  0
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------
gift of Claudia and Steven Schwartz (PA 1977)
G: Photography :  137
B: Sculpture :  0
E: Work on Paper :  0
F: Prints :  0
D: Decorative Arts :  0
A: Painting :  0
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------
gift of Edward O'Neil
G: Photography :  0
B: Sculpture :  0
E: Work on Paper :  0
F: Prints :  152
D: Decorative Arts :  0
A: Painting :  0
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------
gift of H.J. Koehler, Grandson of P. Koehler
G: Photography :  0
B: Sculpture :  0
E: Work on Paper :  160
F: Prints :  0
D: Decorative Arts :  0
A: Painting :  0
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------
gift of E.T. Meredith III
G: Photography :  0
B: Sculpture :  0
E: Work on Paper :  0
F: Prints :  164
D: Decorative Arts :  0
A: Painting :  0
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------
gift of Adam D. Weinberg in honor of Allison Kemmerer
G: Photography :  250
B: Sculpture :  0
E: Work on Paper :  0
F: Prints :  0
D: Decorative Arts :  0
A: Painting :  0
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------
gift of Katherine D. and Stephen C. Sherrill (PA 1971, and P 2005, 2007, 2010)
G: Photography :  262
B: Sculpture :  0
E: Work on Paper :  0
F: Prints :  15
D: Decorative Arts :  0
A: Painting :  1
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------
gift of Georgia O'Keeffe and Elizabeth Davidson
G: Photography :  260
B: Sculpture :  0
E: Work on Paper :  0
F: Prints :  24
D: Decorative Arts :  0
A: Painting :  0
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------
gift of the Edwin J. Beinecke Trust
G: Photography :  780
B: Sculpture :  0
E: Work on Paper :  0
F: Prints :  0
D: Decorative Arts :  0
A: Painting :  0
H: Ship Models :  0
X: Misc :  0
nan :  0
------------------------------------------------